{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Phonathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "ccall/vendored/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ccall/css/styles.css" %}">
    <script src="{% static "ccall/vendored/js/jquery-3.3.1.slim.min.js" %}"></script>  
    <script src="{% static "ccall/vendored/js/bootstrap.bundle.min.js" %}"></script>
</head>
<body>
    {% block header %}
    <header class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Phonathon</a>
        <div class="navbar-item dropdown">
            <a class="dropdown-toggle" href="#" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="nav-dropdown">
                {% if user.is_staff %}
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </header>
    {% endblock header %}

    <div class="container-fluid" id="main-div">
        {% block main %}
        {% endblock main %}
    </div>

    {% block footer %}
    <nav class="navbar navbar-dark bg-dark fixed-bottom">
        <span class="navbar-text mx-auto" style="text-align:center;">
            (c) Nguyen Huy Anh (2018).
            Source code is on <a 
            href="https://github.com/nguyenhuyanhh/phonathon" 
            target="_blank">GitHub</a>.
        </span>
    </nav>
    {% endblock footer %}
</body>
</html>