{% extends "admin/index.html" %}

{% block content %}
<div id="content-main">
    <div class="shortcuts module">
        <table>
        <caption>
            <a href="#" class="section" title="Frequently used functionalities">Shortcuts</a>
        </caption>
        {% if user.is_manager_and_above %}
        <tr>
            <th scope="row"><a href="{% url 'upload' %}">Upload data</a></th>
            <td></td>
        </tr>
        {% endif %}
        </table>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block sidebar %}
{% endblock %}